#main-wrapper {
    display: inline-block;
}

#main-lobby {
    position: absolute;
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid black;
    text-align: center;
}

.lobby-wrapper {
    margin-top: 10px;
    border: 1px solid black;
    text-align: left;
    display: inline-block;
}